:root {
  /* font-size */
  --font-iconL: 2.6rem;
  --font-iconM: 2rem;
  --font-xlarge: 1.6rem;
  --font-large: 1.4rem;
  --font-medium: 1.2rem;
  --font-regular: 1rem;
  --font-small: 0.8rem;
  --font-micro: 0.7rem;

  /* color */
  --white-color: #fff;
  --black-color: #140a00;
  --main-green-color: #ccd93e;
  --font-green-color: #506c33;
  --point-green-color: #f8efba;
  --btn-green-color: #ffe578;
  --grey-dark-color: #909090;
  --grey-light-color: rgb(185, 185, 185);
  --red-color: #ef67a3;
  --blue-color: #0566ef;
  --sky-blue-color: #96d4fb;
  --box-shadow-menu: #00000006;

  /* style */
  --margin-title: 0.6rem;
  --margin-desc: 1.4rem;
  --margin-img: 1.4rem;
}

.line {
  width: 100%;
  height: 1px;
  background-color: var(--grey-light-color);
  margin: 0.4rem 0 2rem 0;
}

.hidden {
  display: none;
}

/* nav_bar */

body {
  background-color: #e2e2e259;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  padding: 0.5rem;
  margin-bottom: 0.4rem;
  width: 100%;
  height: 3rem;
  background-color: inherit;
}

.nav-logo {
  font-size: var(--font-large);
  font-weight: 300;
  color: var(--font-green-color);
}

.logo-icon {
  color: var(--font-green-color);
}

.nav-logo strong {
  margin: 0 4px;
}

.toggle-cover {
  position: relative;
}

.nav-search {
  font-size: var(--font-iconM);
  color: var(--font-green-color);
  transition: color 200ms ease-in;
}

.nav-search:hover,
.nav-search:active {
  color: var(--point-green-color);
}

/* upload_product */

.product-list {
  margin: 1rem 1rem 5rem 1rem;
}

.product {
  display: flex;
  width: 100%;
  height: fit-content;
  max-height: 165px;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
  border-radius: 0.5rem;
  background-color: #fff;
  cursor: pointer;
  transition: transform 200ms ease-in;
}

.product:hover {
  transform: translateY(-2px);
}

.product-info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.product-img {
  width: 120px;
  height: 120px;
  border-radius: 8px;
  /* background-image: url(); */
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin-right: var(--margin-img);
}

.product-title {
  font-size: var(--font-regular);
  font-weight: 400;
  margin-bottom: var(--margin-title);
}

.upload-info {
  display: flex;
  margin-bottom: var(--margin-desc);
}

.upload-location,
.upload-date {
  font-size: var(--font-small);
  color: var(--grey-dark-color);
}

.upload-location::after {
  content: '·';
  margin: 0 0.2rem;
}

.product-price {
  font-size: var(--font-medium);
  margin-bottom: 1rem;
}

.btn-group {
  display: flex;
  justify-content: flex-end;
  color: var(--grey-light-color);
}

.like,
.comment {
  margin-right: 0.3rem;
}

.like-btn,
.comment-btn {
  margin-right: 0.1rem;
}

/* footer */

.footer-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1.5rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 4rem;
  background-color: var(--white-color);
  box-shadow: 2px -2px 10px var(--box-shadow-menu),
    -2px -2px 10px var(--box-shadow-menu);
}

.footer-menu li {
  font-size: var(--font-iconL);
  color: var(--font-green-color);
  cursor: pointer;
  transition: color 200ms ease-in;
}

.footer-menu li:hover,
.footer-menu li:active {
  color: var(--point-green-color);
}

footer .footer-upload {
  text-align: center;
  line-height: 2.5rem;
  border-radius: 50%;
  color: var(--font-green-color);
}

/* uploadForm */

.upload-form {
  padding: 1rem;
  height: 100vh;
  font-size: 1.2rem;
  background-color: var(--white-color);
}
.upload-title,
.upload-price {
  width: 100%;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--grey-light-color);
}

.upload-desc {
  width: 100%;
  height: 16rem;
  padding: 0.6rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--grey-light-color);
  resize: none;
}

.upload-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding: 0 1rem;
  margin-bottom: 1rem;
  color: #fff;
  background-color: var(--main-green-color);
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 200ms ease-in;
}

.upload-img:hover {
  background-color: var(--font-green-color);
}

.btn-group {
  width: 100%;
}

.close-btn,
.upload-btn {
  width: 100%;
  height: 3rem;
  border-radius: 0.4rem;
  color: var(--grey-dark-color);
  background-color: var(--btn-green-color);
  transition: all 200ms ease-in;
}

.close-btn {
  margin-right: 1rem;
}

.close-btn:hover {
  background-color: var(--grey-light-color);
  color: var(--black-color);
}

.upload-btn:hover {
  background-color: var(--font-green-color);
  color: #fff;
}

/* popup */

.popup-bgc-success,
.popup-bgc-fail {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(45, 45, 45, 0.77);
}

.success-popup,
.fail-popup {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 4rem;
  background-color: rgba(0, 0, 0, 0.7);
  color: var(--font-green-color);
  z-index: 60;
  overflow: hidden;
  animation: popupBox 300ms;
}

@keyframes popupBox {
  from {
    transform: translateY(-50%);
  }
  to {
    transform: translateY(0);
  }
}

.success-popup h2,
.fail-popup h2 {
  font-size: 1.3rem;
}

.success-popup h2 span,
.fail-popup h2 span {
  display: inline-block;
  animation: success 400ms infinite;
}

@keyframes success {
  100% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(20deg);
  }
  0% {
    transform: rotate(0deg);
  }
}

.success-popup img,
.fail-popup img {
  width: auto;
  height: 10rem;
  transform: translateY(2rem);
}

/* join */

.join,
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 2rem;
}

.join h1,
.login h1 {
  font-size: 2rem;
  margin-bottom: 3rem;
  color: var(--font-green-color);
}

.join .user-name,
.join .user-email,
.join .user-password {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
  color: var(--grey-dark-color);
  border-radius: 0.4rem;
  border: 1px solid var(--grey-light-color);
}

.login .user-name,
.login .user-email,
.login .user-password {
  width: 100%;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
  color: var(--grey-dark-color);
  border-radius: 0.4rem;
  border: 1px solid var(--grey-light-color);
}

.join-btn,
.login-btn {
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  color: var(--grey-dark-color);
  background-color: var(--main-green-color);
  border-radius: 0.4rem;
}

.join-link,
.signIn-link {
  color: var(--grey-dark-color);
}

.join-link button,
.signIn-link button {
  margin: 0 1rem;
  padding: 0;
  color: var(--grey-dark-color);
  border-bottom: var(--grey-light-color) solid 1px;
}

.join-link button:hover,
.signIn-link button:hover {
  color: var(--black-color);
  border-bottom: var(--black-color) solid 1px;
}

/* user-frofile */

.user {
  width: 100%;
  height: 100%;
  padding: 1rem;
  margin-bottom: 6rem;
}

.user-profile-info {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  padding: 2rem;
  border-radius: 0.4rem;
  background-color: var(--white-color);
  border: 1px solid var(--grey-light-color);
}

.user-photo-cover {
  position: relative;
  margin-right: 2rem;
  cursor: pointer;
}

.user-profile .photo {
  width: 5rem;
  height: 5rem;
  font-size: 3em;
  padding: 0.4rem;
  border-radius: 50%;
  background-color: var(--grey-light-color);
  color: var(--white-color);
}

.user-profile .camera {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1.6rem;
  height: 1.6rem;
  padding: 0.25rem 0;
  border-radius: 50%;
  font-size: 0.8rem;
  color: var(--grey-dark-color);
  background-color: var(--white-color);
}

.user-profile-cover {
  display: flex;
  flex-direction: column;
}

.user-profile .name {
  font-size: 1.4rem;
  font-weight: 400;
  margin-bottom: 0.6rem;
}

.user-profile .location,
.user-profile .email {
  color: var(--grey-dark-color);
}

.user-profile-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}
.user-profile-item button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  font-size: 2rem;
  border-radius: 50%;
  margin: 1rem;
  color: var(--font-green-color);
  background-color: var(--btn-green-color);
  transition: all 150ms ease-in;
}

.user-profile-item button:hover {
  color: var(--point-green-color);
  background-color: var(--font-green-color);
}

.user-profile-service {
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.user-profile-service button {
  width: 100%;
  height: 3rem;
  text-align: left;
  color: var(--grey-dark-color);
  padding: 0 2rem;
  margin-bottom: 0.8rem;
  border-radius: 0.4rem;
  background-color: var(--white-color);
}

.user-profile-service button span {
  padding: 0 1rem;
}

.user-profile-logout,
.user-profile-login,
.user-profile-join {
  width: 100%;
  height: 3rem;
  margin-bottom: 1rem;
  color: var(--white-color);
  border-radius: 0.4rem;
}

.user-profile-logout {
  background-color: var(--grey-light-color);
}

.user-profile-login,
.user-profile-join {
  background-color: var(--main-green-color);
}

/* product-detail */

.product-detail {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  margin-bottom: 5rem;
  background-color: var(--white-color);
}

.product-detail .img-cover {
  width: 100%;
  height: 25rem;
  overflow: hidden;
  cursor: pointer;
}

.product-detail .productImg {
  display: block;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
  transition: transform 250ms ease-in;
}

.product-detail .productImg:hover {
  transform: scale(1.05);
}

.product-detail-contents {
  position: relative;
  padding: 1rem;
}

.product-detail-contents .title {
  font-size: 1.2rem;
  font-weight: 400;
  width: 100%;
  margin-bottom: 1rem;
}

.detail-btn-cover {
  position: absolute;
  top: 3.2rem;
  right: 1rem;
}

.detail-btn-cover .edit,
.detail-btn-cover .delete {
  color: var(--grey-dark-color);
  margin: 0 0.2rem;
  padding: 0.2rem 0.4rem;
  border-radius: 0.4rem;
  border: 1px solid var(--grey-dark-color);
}

.detail-btn-cover .edit:hover {
  color: var(--blue-color);
}
.detail-btn-cover .delete:hover {
  color: var(--red-color);
}
.product-detail-contents .price {
  display: block;
  font-size: 1.4rem;
  padding-bottom: 0.3rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--grey-light-color);
}

.product-detail-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--grey-light-color);
}

.product-detail-info .user-profile {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.product-detail-info .user-photo {
  width: 3rem;
  height: 3rem;
  font-size: 3rem;
  padding: 0.4rem 0;
  margin-right: 1rem;
  text-align: center;
  border-radius: 50%;
  background-color: var(--grey-light-color);
  color: var(--white-color);
  overflow: hidden;
}

.product-detail-info .user-profile {
  margin-bottom: 0.6rem;
}

.product-profile-cover .user-name {
  font-size: 1rem;
  font-weight: 400;
  color: var(--black-color);
  margin-right: 0.4rem;
}

.product-profile-cover .user-location {
  font-size: 0.7rem;
  color: var(--grey-dark-color);
  margin-bottom: 0.2rem;
}

.product-detail-desc {
  height: fit-content;
  min-height: 5rem;
  padding: 0 0.4rem;
  margin-bottom: 1rem;
}

.product-detail-count {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid var(--grey-light-color);
  font-size: 0.9rem;
  color: var(--grey-dark-color);
}

.product-detail-count div span:after {
  content: '·';
  margin: 0 0.2rem;
}

.product-detail-count div span:last-child:after {
  content: '';
}

.product-detail-btn {
  display: flex;
  justify-content: center;
  width: 100%;
}

.product-detail-btn .like-btn {
  font-size: 1.6rem;
  color: var(--grey-light-color);
  margin-right: 0.6rem;
}

.product-detail-btn .like-btn:active {
  color: var(--red-color);
}

.product-detail-btn .chat-btn {
  width: 90%;
  height: 3rem;
  border-radius: 0.4rem;
  background-color: var(--font-green-color);
  color: var(--white-color);
  transition: all 200ms ease-in;
}

.product-detail-btn .chat-btn:hover {
  background-color: var(--main-green-color);
  color: var(--grey-dark-color);
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  font-size: 3rem;
  font-weight: 600;
}
